<div class="container mt-5">
    <div class="row p-5">
        <div class="col-lg-2" *ngIf="getMovieDetailResult.poster_path">
            <img src="https://image.tmdb.org/t/p/original/{{getMovieDetailResult.poster_path}}">
        </div>
        <div class="col-lg-10 mt-5 p-4">
            <h1 class="mt-2 mb-2">{{getMovieDetailResult.original_title}}</h1>
            <p class="mt-3 mb-3">{{getMovieDetailResult.overview}}</p>
            <a class="btn btn-md" href="">watch trailer</a>
        </div>
    </div>
</div>